name: Deploying
on:
  push:
    branches:
      - main
jobs:
  DeployingVM:
    name: Deploying to VM
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Deploying to VM
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.PUNKER_USERNAME }}
          key: ${{ secrets.PUNKER_SSH_KEY_PRIVATE }}
          passphrase: ${{ secrets.PUNKER_PASSPHRASE }}
          command_timeout: 30m
          script: |
            mkdir ${{ github.event.repository.name }}
            cd ${{ github.event.repository.name }}
            git init
            git pull https://${{ secrets.PUNKER_GITHUB_USERNAME }}:${{ secrets.PUNKER_ACCESS_TOKEN }}@github.com/${{ github.repository }}.git
            sudo docker compose down 
            sudo docker compose up -d
